
.reveal .small {
  font-size: 26px;
}

.reveal .smaller {
  font-size: 22px;
}

.reveal .smallest {
  font-size: 18px;
}

.reveal pre {
  font-size: 20px;
}

.reveal .small-code pre {
  font-size: 16px;
}

.reveal .large-code pre {
  font-size: 26px;
}

summary {
    font-size: 22px;
}

